<div class="card container mt-5">
  <div class="card-body">
<h2 class="text-center">Select any state from Dropdown</h2>

<select id="input" class="mx-5 my-5">
  <option>-----select any state-----</option>
  <option *ngFor="let state of state_list" (click)="give()" value="{{ state }}"
    >{{ state }}
  </option>
</select>
<hr />
<h2 class="text-center">Cities of particualr state and map is shown here</h2>
<div class="row mt-3">
  <div class="col-md-12 col-lg-6">
    <div id="output" class="mx-5 my-5">
      <select>
        <option>------city------</option>
      </select>
    </div>
  </div>

  <div class="col-md-12 col-lg-6">
    <div id="map"></div>
  </div>
</div>
  </div>
</div>
